body {
    font-family: 'Judson', serif;
    margin: 0;
    padding: 0;
    padding-top: 0;
}

main {
  padding-top: 2.9em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
  margin: 0;
  font-size: 2em;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 1.5em;
  color: gray;
}

td {
  vertical-align: middle;
}

.materialHolder {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 0 .7em #222222;
    border-radius:.5em;
    background-color: white;
    text-align: left;
    overflow: auto;
    width: 100%;
}

.stripHolder {
  margin: 0;
  text-align: center;
}

.stripContent {
  width: 960px;
  display: inline-block;
}

.skillTitle {
  color: white;
  font-size: 2em;
  text-align: right;
  width: 440px;
}

.skillValue {
  width: 480px;
  height: 100%;
}

.skill {
  margin: 0;
  background-color: #84CEEB;
  border-radius: .5em;
  font-size: 1.5em;
  padding: .25em;
}

#header {
  color: white;
  background-color: #8860D0;
  position: fixed;
  width: 100%;
}

#about {
  color: white;
  background-image: linear-gradient(#8860D0, #5AB9EA, #5680E9);
}

#aboutText {
  width: 55%;
  text-align: center;
  float: left;
  margin-top: 1em;
}

#pictureOfMe {
    width: 40%;
    float: right;
    margin-left: 2.5%;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 10%;
    border: 5px solid black;
    border-color: #F6F0F1;
}

#skills {
  background-color: #5680E9;
  color: white;
}

#skillTable {
  border-spacing: 20px;
  border-collapse: seperate;
}

#pythonSkill {
  width: 70%;
}

#javaSkill {
  width: 60%;
}

#htmlSkill {
  width: 40%;
}

#jsSkill {
  width: 30%;
}

#portfolioTitle {
  background-image: linear-gradient(#5680E9, #C1C8E4);
  color: white;
  padding-bottom: 30px;
}

#portfolio {
  background-color: #C1C8E4;
}

#WMCScreenshot, #circuloScreenshot {
  width: 100%;
  border-radius: .5em;
}

#footer {
  width: 100%;
  height: 100px;
  position: relative;
  background-image: linear-gradient(#C1C8E4, #8860D0);
  color: white;
  text-align: center;
  margin: 0;
}
